<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
<h1>Welcome to the Home Page</h1>
<div class="container" id="main">
  <h1 align="center">Attendance System </h1><br>
  <h3 align="center">Proceed to working</h3><br>


  <p align="center"><a href="{% url 'login' %}"><button>Teacher Login</button></a></p>

  <h4 align="center">or</h4>

  <p align="center"><a href="{% url 'register' %}"><button name="register">Sign Up</button></a></p>
</div>
</body>
</html>